.stack {
  --spacing: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  > * {
    margin-block: 0;
  }
  > * + * {
    margin-block-start: var(--spacing,1.5rem);
  }
}

[class^="grid-"] {
  --grid-tile-size: 10em;
        --grid-gap: 1em;
}

.grid-equal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,var(--grid-tile-size)), 1fr));
  grid-gap: var(--grid-gap);
  align-items: center;
	
 	img {
  	width: 100%;
    display: block;
   }
}

@supports not (grid-template-rows: masonry){
  .grid-masonry {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    row-gap: var(--grid-gap);
    column-gap: var(--grid-gap);
    padding: var(--grid-gap);
    * {
      height: var(--grid-tile-size);
      line-height: var(--grid-tile-size);
    }
  }
}

@supports (grid-template-rows: masonry){
  .grid-masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-tile-size), 1fr));
    grid-template-rows: masonry;
    gap: var(--grid-gap);
    img {
      width: 100%;
      display: block;
    }
  }
}
