// https://www.nngroup.com/articles/clickable-elements/
@import "icons";
@import "elevation";

:focus {
  outline: .3em dotted var(--ui-color-focus);
  //box-shadow: 0 0 0 4px #a7b5ec;
  transition: all ease-in-out var(--ui-animation-time);
}

/*************************
* Selection
*************************/

::selection {
  --color-background-h: 220deg;
  --color-background-s: 60%;
  --color-background-l: 80%;
}

/*************************
* Links
*************************/

// https://www.computerhope.com/issues/ch001789.htm
:is( a[href$=".pdf"]
  // Audio Types
  ,a[href$=".aif"]
  ,a[href$=".cda"] 
  ,a[href$=".mid"] 
  ,a[href$=".midi"] 
  ,a[href$=".mp3"] 
  ,a[href$=".mp4"] 
  ,a[href$=".mpa"] 
  ,a[href$=".ogg"] 
  ,a[href$=".wav"] 
  ,a[href$=".wma"] 
  ,a[href$=".wpl"] 
  
  // Compressed
  ,a[href$=".7z"] 
  ,a[href$=".arj"] 
  ,a[href$=".deb"] 
  ,a[href$=".pkg"] 
  ,a[href$=".rar"]
  ,a[href$=".pkg"] 
  ,a[href$=".rpm"] 
  ,a[href$=".tar"] 
  ,a[href$=".gz"] 
  ,a[href$=".z"]
  ,a[href$=".zip"]

  ):after
{
  content: var(--icon-uri-download);
}

a:link {
  cursor: var(--icon-uri-link-external), auto;
  --color-font-h: 220deg;
  --color-font-s: 50%;
  --color-font-l: 50%;
/*
  @include elevation(1,2,3);
  --color-background-l: 30%; 
	&:visited {
  --color-font-h: 290deg;
  --color-font-s: 50%;
  --color-font-l: 40%;
  }
	&::selection:visited {
	  color: hsl(290deg,50%,40%);
  }
	&::selection:hover {
    --color-background-l: 30%;
  }
*/

}
@media print{
   a:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
  html, body, main {
    background: white;
  }
}
