@import "icons";

:focus {
  outline: .3em dotted var(--ui-color-focus);
  //box-shadow: 0 0 0 4px #a7b5ec;
  transition: all ease-in-out var(--ui-animation-time);
}

/*************************
* Selection
*************************/

::selection {
  --color-background-h: 220deg;
  --color-background-s: 60%;
  --color-background-l: 80%;
}

/*************************
* Links
*************************/

/*
a:link {
  cursor: var(--icon-uri-link-external), auto;
  @include elevation(1,2,3);
  --color-background-l: 30%; 
	&:visited {
  --color-font-h: 290deg;
  --color-font-s: 50%;
  --color-font-l: 40%;
  }
	&::selection:visited {
	  color: hsl(290deg,50%,40%);
  }
	&::selection:hover {
    --color-background-l: 30%;
  }

}
*/
@media print{
   a:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
  html, body, main {
    background: white;
  }
}
