$grayscale: (
	grayscale: (
		primary: rgba( 200, 200, 200, 1),
		secondary: rgba( 100, 100, 100, 1),
		tertiary: rgba(100, 100, 100, 1),
		background_light: rgba(200,200,200,.9),
		background_dark: rgba(200,200,200,.9),
		font_light: rgba(245,245,245,.7),
		font_dark: rgba(20,20,20,.7)
	)
)
