$elevation-ratio-shadow-offsetX: 0em;
$elevation-ratio-shadow-offsetY: var(--ratio-octave);
$elevation-ratio-shadow-blur: var(--ratio-minor-second);
$elevation-ratio-shadow-spread: var(--ratio-minor-second);
$elevation-ratio-shadow-opacity: var(--ratio-minor-second);
$elevation-ratio-translateY: var(--ratio-minor-second);
$elevation-ratio-scale: var(--ratio-minor-third);
$elevation-ratio-sunken-border: var(--ratio-major-third);
$elevation-sunken-1-box-shadow: 0em .1em .2em 0em rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,.2);
$elevation-sunken-1-border: calc(var(--border-width) * var(--ratio-sunken-border));
$elevation-sunken-2-box-shadow: 0em .05em 1em 0em rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.2);
$elevation-sunken-2-border: calc( var(--elevation-sunken-1) * var(--ratio-sunken-border));
$elevation-raised-0-shadow-directional-offsetX: 0em;
$elevation-raised-0-shadow-directional-offsetY: 0em;
$elevation-raised-0-shadow-directional-blur: 0em;
$elevation-raised-0-shadow-directional-spread: 0em;
$elevation-raised-0-shadow-directional-opacity: 1;
$elevation-raised-0-shadow-directional-color: rgba(0,0,0, var(--elevation-raised-0-shadow-directional-opacity));
$elevation-raised-0-shadow-ambient-offsetX: 0em;
$elevation-raised-0-shadow-ambient-offsetY: 0em;
$elevation-raised-0-shadow-ambient-blur: 0em;
$elevation-raised-0-shadow-ambient-spread: 0em;
$elevation-raised-0-shadow-ambient-opacity: 1;
$elevation-raised-0-shadow-ambient-color: rgba(0,0,0, var(--elevation-raised-0-shadow-ambient-opacity));
$elevation-raised-0-box-shadow: var(--elevation-raised-0-shadow-directional-offsetX)  var(--elevation-raised-0-shadow-directional-offsetY) var(--elevation-raised-0-shadow-directional-blur) var(--elevation-raised-0-shadow-directional-spread) var(--elevation-raised-0-shadow-directional-color) , var(--elevation-raised-0-shadow-ambient-offsetX) var(--elevation-raised-0-shadow-ambient-offsetY) var(--elevation-raised-0-shadow-ambient-blur) var(--elevation-raised-0-shadow-ambient-spread) var(--elevation-raised-0-shadow-ambient-color)
;
$elevation-raised-0-scale: 0em;
$elevation-raised-0-translateY: 0em;
$elevation-raised-0-transform: scale(var(--elevation-raised-0-scale)) translateY(var(--elevation-raised-0-translateY));
$elevation-raised-1-shadow-directional-offsetX: 0em;
$elevation-raised-1-shadow-directional-offsetY: .1em;
$elevation-raised-1-shadow-directional-blur: .2em;
$elevation-raised-1-shadow-directional-spread: .05em;
$elevation-raised-1-shadow-directional-opacity: 0.4;
$elevation-raised-1-shadow-directional-color: rgba(0,0,0, var(--elevation-raised-1-shadow-directional-opacity));
$elevation-raised-1-shadow-ambient-offsetX: 0em;
$elevation-raised-1-shadow-ambient-offsetY: 0em;
$elevation-raised-1-shadow-ambient-blur: .2em;
$elevation-raised-1-shadow-ambient-spread: .05em;
$elevation-raised-1-shadow-ambient-opacity: 0.4;
$elevation-raised-1-shadow-ambient-color: rgba(0,0,0, var(--elevation-raised-1-shadow-ambient-opacity));
$elevation-raised-1-box-shadow: var(--elevation-raised-1-shadow-directional-offsetX)  var(--elevation-raised-1-shadow-directional-offsetY) var(--elevation-raised-1-shadow-directional-blur) var(--elevation-raised-1-shadow-directional-spread) var(--elevation-raised-1-shadow-directional-color) , var(--elevation-raised-1-shadow-ambient-offsetX) var(--elevation-raised-1-shadow-ambient-offsetY) var(--elevation-raised-1-shadow-ambient-blur) var(--elevation-raised-1-shadow-ambient-spread) var(--elevation-raised-1-shadow-ambient-color)
;
$elevation-raised-1-scale: var(--elevation-ratio-scale);
$elevation-raised-1-translateY: var(--spacing-vertical-sm);
$elevation-raised-1-transform: scale(var(--elevation-raised-1-scale)) translateY(var(--elevation-raised-1-translateY))
;
$elevation-raised-2-shadow-directional-offsetX: calc( var(--elevation-raised-1-shadow-directional-offsetX)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-directional-offsetY: calc( var(--elevation-raised-1-shadow-directional-offsetY)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-directional-blur: calc( var(--elevation-raised-1-shadow-directional-blur)     * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-directional-spread: calc( var(--elevation-raised-1-shadow-directional-spread)   * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-directional-opacity: calc( var(--elevation-raised-1-shadow-directional-opacity)  / var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-directional-color: rgba( 0,0,0, var(--elevation-raised-2-shadow-directional-opacity) );
$elevation-raised-2-shadow-ambient-offsetX: calc( var(--elevation-raised-1-shadow-ambient-offsetX)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-ambient-offsetY: calc( var(--elevation-raised-1-shadow-ambient-offsetY)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-ambient-blur: calc( var(--elevation-raised-1-shadow-ambient-blur)     * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-ambient-spread: calc( var(--elevation-raised-1-shadow-ambient-spread)   * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-ambient-opacity: calc( var(--elevation-raised-1-shadow-ambient-opacity)  / var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-2-shadow-ambient-color: rgba( 0,0,0, var(--elevation-raised-2-shadow-ambient-opacity) );
$elevation-raised-2-box-shadow: var(--elevation-raised-2-shadow-directional-offsetX)   var(--elevation-raised-2-shadow-directional-offsetY)  var(--elevation-raised-2-shadow-directional-blur)    var(--elevation-raised-2-shadow-directional-spread)   var(--elevation-raised-2-shadow-directional-color)    , var(--elevation-raised-2-shadow-ambient-offsetX)   var(--elevation-raised-2-shadow-ambient-offsetY)  var(--elevation-raised-2-shadow-ambient-blur)    var(--elevation-raised-2-shadow-ambient-spread) var(--elevation-raised-2-shadow-ambient-color)
;
$elevation-raised-2-scale: calc(var(--elevation-raised-1-scale) * var(--elevation-ratio-scale) );
$elevation-raised-2-translateY: calc(var(--elevation-raised-1-translateY) * var(--elevation-ratio-translateY) );
$elevation-raised-2-transform: scale(      var(--elevation-raised-2-scale)      ) translateY( var(--elevation-raised-2-translateY) )
;
$elevation-raised-3-shadow-directional-offsetX: calc( var(--elevation-raised-2-shadow-directional-offsetX)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-directional-offsetY: calc( var(--elevation-raised-2-shadow-directional-offsetY)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-directional-blur: calc( var(--elevation-raised-2-shadow-directional-blur)     * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-directional-spread: calc( var(--elevation-raised-2-shadow-directional-spread)   * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-directional-opacity: calc( var(--elevation-raised-2-shadow-directional-opacity)  / var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-directional-color: rgba( 0,0,0, var(--elevation-raised-3-shadow-directional-opacity) );
$elevation-raised-3-shadow-ambient-offsetX: calc( var(--elevation-raised-2-shadow-ambient-offsetX)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-ambient-offsetY: calc( var(--elevation-raised-2-shadow-ambient-offsetY)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-ambient-blur: calc( var(--elevation-raised-2-shadow-ambient-blur)     * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-ambient-spread: calc( var(--elevation-raised-2-shadow-ambient-spread)   * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-ambient-opacity: calc( var(--elevation-raised-2-shadow-ambient-opacity)  / var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-3-shadow-ambient-color: rgba( 0,0,0, var(--elevation-raised-3-shadow-ambient-opacity) );
$elevation-raised-3-box-shadow: var(--elevation-raised-3-shadow-directional-offsetX)   var(--elevation-raised-3-shadow-directional-offsetY)  var(--elevation-raised-3-shadow-directional-blur)    var(--elevation-raised-3-shadow-directional-spread)   var(--elevation-raised-3-shadow-directional-color)    , var(--elevation-raised-3-shadow-ambient-offsetX)   var(--elevation-raised-3-shadow-ambient-offsetY)  var(--elevation-raised-3-shadow-ambient-blur)    var(--elevation-raised-3-shadow-ambient-spread) var(--elevation-raised-3-shadow-ambient-color)
;
$elevation-raised-3-scale: calc(var(--elevation-raised-2-scale) * var(--elevation-ratio-scale) );
$elevation-raised-3-translateY: calc(var(--elevation-raised-2-translateY) * var(--elevation-ratio-translateY) );
$elevation-raised-3-transform: scale(      var(--elevation-raised-3-scale)      ) translateY( var(--elevation-raised-3-translateY) )
;
$elevation-raised-4-shadow-directional-offsetX: calc( var(--elevation-raised-3-shadow-directional-offsetX)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-directional-offsetY: calc( var(--elevation-raised-3-shadow-directional-offsetY)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-directional-blur: calc( var(--elevation-raised-3-shadow-directional-blur)     * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-directional-spread: calc( var(--elevation-raised-3-shadow-directional-spread)   * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-directional-opacity: calc( var(--elevation-raised-3-shadow-directional-opacity)  / var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-directional-color: rgba( 0,0,0, var(--elevation-raised-4-shadow-directional-opacity) );
$elevation-raised-4-shadow-ambient-offsetX: calc( var(--elevation-raised-3-shadow-ambient-offsetX)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-ambient-offsetY: calc( var(--elevation-raised-3-shadow-ambient-offsetY)  * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-ambient-blur: calc( var(--elevation-raised-3-shadow-ambient-blur)     * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-ambient-spread: calc( var(--elevation-raised-3-shadow-ambient-spread)   * var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-ambient-opacity: calc( var(--elevation-raised-3-shadow-ambient-opacity)  / var(--elevation-ratio-shadow-offsetY) );
$elevation-raised-4-shadow-ambient-color: rgba( 0,0,0, var(--elevation-raised-4-shadow-ambient-opacity) );
$elevation-raised-4-box-shadow: var(--elevation-raised-4-shadow-directional-offsetX)   var(--elevation-raised-4-shadow-directional-offsetY)  var(--elevation-raised-4-shadow-directional-blur)    var(--elevation-raised-4-shadow-directional-spread)   var(--elevation-raised-4-shadow-directional-color)    , var(--elevation-raised-4-shadow-ambient-offsetX)   var(--elevation-raised-4-shadow-ambient-offsetY)  var(--elevation-raised-4-shadow-ambient-blur)    var(--elevation-raised-4-shadow-ambient-spread) var(--elevation-raised-4-shadow-ambient-color)
;
$elevation-raised-4-scale: calc(var(--elevation-raised-3-scale) * var(--elevation-ratio-scale) );
$elevation-raised-4-translateY: calc(var(--elevation-raised-3-translateY) * var(--elevation-ratio-translateY) );
$elevation-raised-4-transform: scale(      var(--elevation-raised-4-scale)      ) translateY( var(--elevation-raised-4-translateY) )
;
$ratio-perfect-unison: 1;
$ratio-minor-second: 1.0594630943592953;
$ratio-major-second: 1.122462048309373;
$ratio-minor-third: 1.1892071150027212;
$ratio-major-third: 1.2599210498948734;
$ratio-perfect-fourth: 1.3348398541700346;
$ratio-augmented-fourth: 1.4142135623730954;
$ratio-diminished-fifth: 1.4142135623730954;
$ratio-perfect-fifth: 1.5;
$ratio-minor-sixth: 1.5874010519682;
$ratio-major-sixth: 1.6817928305074297;
$ratio-minor-seventh: 1.7817974362806794;
$ratio-major-seventh: 1.887748625363388;
$ratio-octave: 2;
$ratio-golden-ratio: 1.618033988749895;
